<div class="container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4"><%= t('welcome') %></h1>
    <p class="lead"><%= t("app_description") %></p>
    <div>
      <hr class="my-4">
      <p><%= t("menu_guide") %></p>
      <p class="lead">
        <%= render "menu" %>

      </p>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="p-5 mb-4 bg-light rounded-3">-->
<!--    <h1 class="display-4">Features</h1>-->
<!--    <p class="lead">Apresentação de funcionalidades</p>-->

<!--    <p>O idioma que está sendo usado nessa aplicação é: <%#= I18n.locale %></p>-->
<!--    <p>Teste tradução <%#= I18n.t('teste') %></p>-->
<!--    <p><%#= @teste %></p>-->
<!--    <p>Agora que eu sei que funciono, você consegue me mandar seu nome pela url: /?nome=seuNome </p>-->
<!--    <p>Seu nome é: <%#= @nome %></p>-->
<!--    <p>Cookie: <%#= cookies[:alou] %></p>-->
<!--    <p>Session: <%#= session[:hi] %></p>-->
<!--    <p><strong>Data:</strong> <%#= l(Date.today) %></p>-->
<!--    <p>Você está no ambiente de <%#= I18n.t("env.#{Rails.env}") %></p>-->
<!--  </div>-->
<!--</div>-->





