<tr>
  <td><%= mining_type.id %></td>
  <td><%= mining_type.description %></td>
  <td><%= mining_type.acronym %></td>
  <td><%= link_to t("links.show"), mining_type, class: "btn btn-primary" %></td>
</tr>
