<div class="ms-5">

  <h1><%= t("editing_mine") %></h1>

  <%= render "form", mining_type: @mining_type %>

  <br>

  <div>
    <%= link_to t("links.show"), @mining_type, class: "btn btn-primary" %>
    <%= link_to t("mining_types"), mining_types_path, class: "btn btn-primary mx-3" %>
  </div>


</div>


