<div class="ms-5">

  <h1><%= t("editing") %></h1>

  <%= render "form", coin: @coin %>

  <br>

  <div>
    <%= link_to t('links.show'), @coin, class: "btn btn-primary" %>
    <%= link_to t('links.back'), coins_path, class: "btn btn-primary mx-1" %>
  </div>


</div>

